fastp_results/
fastqc_results/
flye_output/
hifiasm_output/
jellyfish_results/
lja_output/
trinity_output/
Out&Err/
MR-0/
RNAseq_Sha/


# Large data files
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.sam
*.cram
*.vcf
*.vcf.gz

# Assembly/annotation outputs
*.fasta
*.fa
*.gff
*.gff3
*.gtf
*.bed

# Intermediate files
*.log
*.tmp
*.out
*.err

# Compressed archives
*.tar
*.tar.gz
*.zip

# Checkpoint or cache
*.swp
*.swo
*.DS_Store
__pycache__/
