# Ignore directories for results and outputs
fastp_results/
fastqc_results/
flye_output/
hifiasm_output/
jellyfish_results/
lja_output/
trinity_output/
trinity_output_FastP/
Out&Err/
MR-0/
RNAseq_Sha/
merqury_results/

# Large data files
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.sam
*.cram
*.vcf
*.vcf.gz

# Assembly/annotation outputs
*.fasta
*.fa
*.gff
*.gff3
*.gtf
*.bed

# Intermediate files
*.log
*.tmp
*.out
*.err

# Compressed archives
*.tar
*.tar.gz
*.zip

# Checkpoint or cache
*.swp
*.swo
*.DS_Store
__pycache__/

# BUSCO outputs
busco_downloads/
busco_*_output/

# QUAST outputs
quast_no_ref_output/
quast_with_ref_output/

# Merqury / Meryl outputs
*.meryl

# Keep scripts tracked
!*.sh
